opencv-python
ultralytics
mediapipe
onnxruntime
numpy
scipy
pyyaml
python-telegram-bot
streamlit
imutils
Pillow
schedule
psutil
plotly
loguru
pytorch-lightning
torch
torchvision
scikit-learn
matplotlib
seaborn
python-dotenv
aiohttp
psutil
